@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #111222;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: #fff;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  font-size: 4em;
  margin-bottom: 50px;
}

.content {
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .image {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.content .image img {
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content .text-box {
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.media-icons {
  margin-top: 100px;
}

.media-icons a {
  color: #fff;
  font-size: 2em;
  margin: 60px;
}

.section-title {
  font-size: 3em;
  margin-bottom: 80px;
}

.info-title {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.info {
  width: 700px;
  margin-left: 50px;
}
.media-info {
  width: 400px;
  margin-left: 50px;
}

.media-info li {
  list-style: none;
  font-size: 1.4em;
}

.media-info li a {
  color: #fff;
  text-decoration: none;
}

.media-info li:not(:last-child) {
  margin-bottom: 50px;
}

.media-info li:nth-child(1),
.media-info li:nth-child(5) {
  padding-left: 100px;
}

.media-info li:nth-child(2),
.media-info li:nth-child(4) {
  padding-left: 50px;
}

.sec-03 {
  margin-bottom: 100px;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 3em;
    margin-bottom: 40px;
  }

  .content .image {
    width: 700px;
    height: 400px;
  }

  .content .image img {
    left: 50px;
  }

  .content .text-box {
    max-width: 500px;
    transform: translate(-120px, 50px);
  }

  .media-info {
    width: 400px;
    margin-left: 150px;
  }

  .sec-03 .content .image img {
    left: 0px;
    right: 50px;
    width: 90%;
  }

  .info p {
    width: 450px;
  }
}

@media (max-width: 1000px) {
  .content .text-box {
    max-width: 500px;
    transform: translate(-160px, 50px);
    background: rgba(12, 7, 7, 0.5);
  }

  .media-info {
    width: 400px;
    margin-left: 250px;
  }

  .sec-03 .content .image img {
    left: 0px;
    right: 50px;
    width: 90%;
  }
  .info {
    margin-left: 30px;
  }
  .info p,
  .content .text-box p {
    max-width: 350px;
  }
}

@media (max-width: 850px) {
  section {
    padding: 50px 50px;
  }

  .main-title {
    font-size: 3em;
    margin-bottom: 40px;
  }

  .section-title {
    font-size: 2.5em;
    margin-bottom: 60px;
  }

  .sec-03 {
    margin-bottom: 50px;
  }
}

@media (max-width: 750px) {
  .main-title {
    font-size: 3em;
    margin-bottom: 40px;
  }

  .content .text-box {
    margin-left: 10px;
    background: rgba(12, 7, 7, 0.5);
    padding: 40px;
    max-width: 600px;
    transform: translate(-250px, 50px);
  }

  .content .info {
    margin-left: 10px;
    background: rgba(12, 7, 7, 0.5);
    padding: 40px;
    max-width: 600px;
    transform: translate(-250px, 50px);
  }

  .media-info li {
    font-size: 1.5em;
    margin-bottom: 30px;
  }

  .media-info li:nth-child(1),
  .media-info li:nth-child(5),
  .media-info li:nth-child(2),
  .media-info li:nth-child(4),
  .media-info li:nth-child(3) {
    padding-left: 70px;
  }
}

@media (max-width: 640px) {
  .main-title {
    font-size: 2.5em;
    margin-bottom: 30px;
  }

  .section-title {
    font-size: 2em;
    margin-bottom: 30px;
  }

  .media-info {
    margin-left: 350px;
  }

  .sec-03 .content .image img {
    left: 0px;
    right: 300px;
    width: 70%;
  }

  .media-icons a {
    font-size: 1.5em;
    margin: 30px;
  }
  .media-info li {
    font-size: 1.2em;
  }
}

@media (max-width: 600px) {
  .main-title {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .section-title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .content .text-box h3 {
    font-size: 1em;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .content .text-box {
    margin-left: -26px;
  }

  .main-title {
    font-size: 1.7em;
    margin-bottom: 30px;
  }

  .section-title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .content .text-box h3 {
    font-size: 0.8em;
    margin-bottom: 5px;
  }

  .content .info {
    background: rgba(12, 7, 7, 0.7);
    padding: 10px;
    max-width: 400px;

    transform: translate(-330px, 20px);
  }

  .content .text-box {
    background: rgba(12, 7, 7, 0.7);
    padding: 10px;
    max-width: 400px;
    transform: translate(-330px, 20px);
  }

  .sec-03 .content .image img {
    left: 0px;
    right: 600px;
    width: 50%;
  }
}

@media (max-width: 400px) {
  /* .content:nth-child(1),
  content:nth-child(2) {
    width: 100%;
  } */

  .content .text-box {
    padding: 5px;
    transform: translate(-330px, 5px);
    width: 320px;
  }

  .sec-03,
  .sec-02,
  .sec-01 {
    overflow: hidden;
  }
}

@media (max-width: 360px) {
  .main-title {
    font-size: 3em;
    margin-bottom: 60px;
  }
  /* .mtitle2 {
    display: block;
    font-size: 3em;
    margin-bottom: 100px;
  } */

  .section-title {
    font-size: 2em;
  }

  .info p,
  .content .text-box p {
    max-width: 250px;
  }

  .content .text-box {
    padding: 5px;
    transform: translate(-340px, 5px);
    width: 260px;
  }

  .content .info {
    width: 280px;
    margin-left: -36px;
  }

  .content .text-box h3 {
    display: none;
  }

  .media-info li:nth-child(1),
  .media-info li:nth-child(5),
  .media-info li:nth-child(2),
  .media-info li:nth-child(4),
  .media-info li:nth-child(3) {
    padding-left: 110px;
  }

  .media-info li {
    font-size: 1.2em;
  }

  .media-icons {
    margin-top: 50px;
  }
}
